:root {
    --color-main: #131313;
    --bg-body: #f8f8fb;
    --main-accent: #090909;
    --main-text: #555555;
    --white: #ffffff;
    --shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
}

body {

    color: var(--main-text);
    background: var(--bg-body);
    margin: 0;
}


.page-wrapper {
    display: flex;
}

.sidebar {
    width: 236px;
    background: linear-gradient(480deg, #464545, #070707);

    color: #1d1d1d;
    height: 100vh;
    padding: 20px;
    position: fixed;
    box-shadow: var(--shadow);
}

.brand h3 {
    font-size: 1.8rem;
    color: var(--white);
    text-align: center;
    margin-bottom: 40px;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);

}

.profile-card {
    text-align: center;
    margin-bottom: 0;
}

.profile-img img {
    font-size: 7.5rem;
    color: #070707;
    width: 140px;
    height: 197px;
    object-fit: cover;
}

.profile-info h2 {
    color: var(--white);
    font-size: 1.2rem;
    margin-top: 10px;
}

.sidebar-menu {
    margin-top: 30px;
}
.menu-item span{
    font-size: 1.3rem;
}

.menu-item a {
    display: flex;
    align-items: center;
    gap: 15px;
    color: var(--white);
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 10px;
    transition: background-color 0.3s ease;
    text-decoration: none;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);

}

.menu-item a:hover, .menu-item a.activeM {
    background-color: var(--main-accent);
}

.menu-item a i {
    font-size: 1.5rem;
}



.sidebar-card {
    margin-top: 20px;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 15px;
    border-radius: 8px;
    text-align: center;
}

.sidebar-card h2 {
    font-size: 1.2rem;
    color: var(--white);
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);

}

.sidebar-card p {
    color: var(--white);
    font-size: 0.9rem;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);

    /*font-shadow: var(--shadow);*/
}

.sidebar-card .btn {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 15px;
    color: var(--color-main);
    background-color: var(--white);
    border-radius: 8px;
    font-size: 0.9rem;
    font-weight: bold;
}

.main-content {
    margin-left: 236px;
    padding: 50px;
    width: calc(100% - 236px);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: var(--white);
    box-shadow: var(--shadow);
    border-radius: 60px;
    margin-left: auto;
}


.dashboard-stats {
    display: grid
;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin-top: 20px;
    width: 1000px;
    margin-left: 0;
    margin-right: 0;
}

.stat-card {
    display: flex;
    align-items: center;
    gap: 35px;
    background: linear-gradient(135deg, #151515, #ffffff);
    color: #ffffff;
    box-shadow: var(--shadow);
    border-radius: 27px;
    padding: 10px;
    text-align: center;
    transition: transform 0.3s ease;
}

.stat-card:hover {
    transform: translateY(-5px);
}

.stat-card i {
    font-size: 2rem;
    background: rgba(255, 255, 255, 0.2);
    margin-right: 20px;
    margin-left: 40px;
    padding: 10px;
    border-radius: 50%;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);

}

.stat-card h3 {
    color: #333333;
    font-size: 1.7rem;
    margin: 0;
    font-weight: bold;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);

}

.stat-card p {
    font-size: 1.2rem;
    margin: 0;
    color: rgba(255, 255, 255, 0.8);
    color: #333333;
    /*text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);*/

}
.charts-section {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    margin-left: 20px;
    gap: 30px;
    width: 1170px;
    height: 400px;
}

.chart-container {
    width: 100%;
    background: var(--white);
    padding: 20px;
    border-radius: 8px;
    box-shadow: var(--shadow);

    justify-content: center; /* توسيط أفقي */
    align-items: center; /* توسيط رأسي */
    height: 90%; /* لتحديد ارتفاع الحاوية */

}

.chart-title {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 15px;
    color: #333;
    font-family: 'Nunito', sans-serif;
    /*font-family: 'Arial', sans-serif;*/
}








.logout-btn {
    display: inline-block;
    margin-top: 60px;
    padding: 10px 20px;
    color: var(--white);
    background-color: var(--main-accent);
    border: none;
    border-radius: 30px;
    font-size: 1.2rem;
    text-align: center;
    text-decoration: none;
    box-shadow: var(--shadow);
    transition: background-color 0.3s ease;
}

.logout-btn:hover {
    background-color: #f8f7f5;
    color: #070707;
}


.Photo{
    margin-left: 270px;
    width: calc(100% - 270px);
}
.dd{
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

@media (max-width: 1024px) {
    .page-wrapper {
        flex-direction: column;
    }

    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
    }

    .main-content {
        margin-left:0;
        width: 100%;
    }

    .dashboard-stats {
        grid-template-columns: repeat(2, 1fr);
        gap: 15px;
        width: 100%;
        margin: 0;
    }
    .stat-card {

        display: flex;
        flex-direction: column;
        text-align: center;
        /*display: flex;*/
        justify-content: center;
        /*padding: 15px;*/
        /*width: 500px;*/
        width: 40%;
        height: 100px;
        /*margin-ht: 20px;*/
        /*margin-left: 22px;*/
    }

    .stat-card i {
        margin: 0;
        display: flex;
        /*width: 20px;*/
    }

}

/* استعلامات الوسائط للشاشات الصغيرة جداً (مثل الهواتف الذكية) */


@media (max-width: 768px) {
    .sidebar{
        width: 95%;
        align-items: center;
        /*border-radius: 20px;*/
    }
    .sidebar-menu .menu-item a {
        font-size: 0.9rem;
        gap: 10px;
        width: 93%;
    }
    .main-content{
        width: 80%;
        margin: 1px;
    }
    header{

        width: 100%;
        height: 30px;
        margin-left: 1px;
        margin-bottom: 10px;
        /*padding-left: 0;*/

    }
    header h2{
        font-size: 1.2rem;
    }
    .filter-bar label{
        /*margin-left: 10px;*/
        font-size: 1rem;
    }
    .filter-bar select{
        width: 90px
    }
    .filter-bar .btn-submit1{
        font-size: 1rem;
        padding:2px ;
    }
    .dashboard-stats {
        grid-template-columns: 1fr;
        /*width: 1000px;*/
        /*gap: 10px;*/
        /*margin-left: 200px;*/

        /*width: 100px;*/
        /*width: 900px;*/
        /*justify-content: center;*/
        align-items: center;
        display: flex;
    }

    .stat-card {

        display: flex;
        flex-direction: column;
        text-align: center;
        /*display: flex;*/
        justify-content: center;
        /*padding: 15px;*/
        /*width: 500px;*/
        width: 40%;
        height: 100px;
        /*margin-ht: 20px;*/
        /*margin-left: 22px;*/
    }

    .stat-card i {
        margin: 0;
        display: flex;
        /*width: 20px;*/
    }

    .charts-section {
        width: 90%;
    }
}

@media (max-width: 480px) {
    .sidebar {
        padding: 10px;
    }

    .sidebar-menu .menu-item a span {
        display: none;
    }

    .stat-card {
        padding: 10px;
    }

    .logout-btn {
        padding: 8px 15px;
        font-size: 0.9rem;
    }
    .stat-card {
        padding: 10px;
    }
}

/***********************************************************************************************************/


.add-product, .products-list {
    margin-top: 20px;
    margin-left: 15px;
    padding: 3px 20px;
    background-color: var(--white);
    box-shadow: var(--shadow);
    border-radius: 8px;


}

.add-product{
    max-height: 2000px;
    width: 1000px;
    align-items: center;
    margin-left: 10px;
}

.add-product h3, .products-list h3 {
    /*margin-bottom: 15px;*/
    margin-bottom: 15px;
    color: #0a0b0a;
    font-size: 1.6em;

}

.form-group {
    margin-bottom: 5px;
    width: 90%;
    display: flex;
    flex-direction: column; /* ترتيب العناصر داخليًا بشكل عمودي */
}
.form-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* تقسيم إلى عمودين متساويين */
    gap: 10px; /* مسافة بين العناصر */
}


.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: var(--main-text);
}

.form-group input, .form-group textarea, .form-group select {
    /*width: 100%;*/
    padding: 10px;
    border: 1px solid rgba(9, 9, 9, 0.76);
    border-radius: 5px;
    font-size: 1rem;
}
.form-group select{
    width: 100%;
}
.form-group textarea{
    height: 18px;
}
.btn-submit {
    font-size: 1rem;
    display: inline-block;
    padding: 10px 15px;
    background-color: #000000;
    color: #ffffff;
    border: solid black 2px;
    border-radius: 20px !important;
    cursor: pointer;
    /*font-weight: bold;*/
    transition: background-color 0.3s ease;
    margin-top: 25px;
    width: 1000px;
    margin-bottom: 10px;
}

.btn-submit:hover {
    background-color: #ffffff;
    color: black;

}
/* قواعد التصميم الافتراضي (Desktop) موجودة مسبقاً */

.products-list {
    margin-top: 20px;
    background-color: var(--white);
    box-shadow: var(--shadow);
    border-radius: 8px;
    padding: 10px 20px;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

.products-list h3 {
    margin-bottom: 20px;
    color: #0c0c0c;
}

.products-list table {
    width: 100%;
    border-collapse: collapse;
}

.products-list th, .products-list td {
    padding: 5px;
    text-align: center;
    border: 1px solid #ddd;
    max-width: 170px;
    max-height: 50px;
}

.products-list th {
    background-color: var(--color-main);
    color: var(--white);
}

.products-list td img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 5px;
    max-width: 100%;
}

.products-list .btn-action {
    padding: 5px 10px;
    margin: 0;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 1rem;
}

.products-list .btn-delete {
    background-color: #d11111;
    color: var(--white);
}

.products-list .btn-edit {
    background-color: #69c169;
    color: var(--white);
}

/* Responsive Design */
@media (max-width: 768px) {
    .products-list  {
        width: 100%;
    }


    .products-list table,
    .products-list thead,
    .products-list tbody,
    .products-list th,
    .products-list td,
    .products-list tr {
        display: block;
        width: 98%;
    }

    .products-list thead tr {
        display: none; /* إخفاء العناوين عند تصغير الشاشة */
    }

    .products-list tr {
        margin-bottom: 15px;
        border: 1px solid #ddd;
        border-radius: 8px;
        padding: 10px;
        background-color: var(--white);
        box-shadow: var(--shadow);
    }

    .products-list td {
        display: flex;
        justify-content: space-between;
        text-align: left;
        padding: 10px;
        border: none;
    }

    .products-list td[data-label]::before {
        content: attr(data-label); /* عرض العنوان كقيمة */
        font-weight: bold;
        color: var(--color-main);
        margin-right: 10px;
    }

    .products-list td img {
        margin: 0


    }

    .stat-card {

        display: flex;
        flex-direction: column;
        text-align: center;
        /*display: flex;*/
        justify-content: center;
        /*padding: 15px;*/
        /*width: 500px;*/
        width: 40%;
        height: 100px;
        /*margin-ht: 20px;*/
        /*margin-left: 22px;*/
    }

    .stat-card i {
        margin: 0;
        display: flex;
        /*width: 20px;*/
    }
}
/*////////////////////////////////////////////////////////////////////////////////////*/

@media (max-width: 768px) {

    .form-grid {
        display: grid;
        grid-template-columns: repeat(1, 0.3fr); /* تقسيم إلى عمودين متساويين */

        gap: 10px; /* مسافة بين العناصر */
    }
}


.customers-list {
    margin-top: 20px;
    background-color: var(--white);
    box-shadow: var(--shadow);
    border-radius: 8px;
    padding: 10px 20px;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

.customers-list h3 {
    margin-bottom: 20px;
    color: #000000;
}

.customers-list table {
    width: 100%;
    border-collapse: collapse;
}

.customers-list .btn-action {
    padding: 5px 10px;
    margin: 0 5px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 1rem;
}

.customers-list table .btn-delete {
    background-color: #e41919;
    color: var(--white);
}

.customers-list table .btn-edit {
    background-color: #69c169;
    color: var(--white);
}
.customers-list table .btn-email {
    background-color: #090909;
    color: var(--white);
}

.customers-list th, .customers-list td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
}

.customers-list th {
    background-color: var(--color-main);
    color: var(--white);
}

.customers-list tbody tr:hover {
    background-color: #f1f1f1; /* لون خلفية خفيف */
    transition: background-color 0.3s ease; /* انتقال سلس */
    cursor: pointer; /* مؤشر يشير إلى إمكانية التفاعل */
}

/* Responsive Design */
@media (max-width: 768px) {
    .customers-list{
        width: 100%;
    }
    .customers-list table,
    .customers-list thead,
    .customers-list tbody,
    .customers-list th,
    .customers-list td,
    .customers-list tr {
        display: block;
        width: 98%;
    }

    .customers-list thead tr {
        display: none; /* إخفاء العناوين عند تصغير الشاشة */
    }

    .customers-list tr {
        margin-bottom: 15px;
        border: 1px solid #ddd;
        border-radius: 8px;
        padding: 10px;
        background-color: var(--white);
        box-shadow: var(--shadow);
    }

    .customers-list td {
        display: flex;
        justify-content: space-between;
        text-align: left;
        padding: 10px;
        border: none;
    }

    .customers-list td[data-label]::before {
        content: attr(data-label); /* عرض العنوان كقيمة */
        font-weight: bold;
        color: var(--color-main);
        margin-right: 10px;
    }

    .customers-list td:last-child {
        margin-top: 10px;
    }
}








.send-notifications {
    margin-top: 20px;
    margin-left: 15px;
    background-color: var(--white);
    box-shadow: var(--shadow);
    border-radius: 8px;
    padding: 20px;
    width: 95%;
}

.send-notifications h3 {
    margin-bottom: 15px;
    color: #070707;
}

.send-notifications textarea {
    width: 108%;
    height: 40px;
    border: 1px solid rgb(7, 7, 7);
    border-radius: 5px;
    font-size: 1rem;
}
.send-notifications input{
    width: 108%;
}
.send-notifications button {
    width: 100%;
}
/* General Styles */
.orders-list {
    margin-top: 20px;
    background-color: var(--white);
    box-shadow: var(--shadow);
    border-radius: 8px;
    padding: 20px;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

.orders-list h3 {
    margin-bottom: 15px;
    color: #030403;
}

.orders-list table {
    width: 100%;
    border-collapse: collapse;
}

.orders-list th,
.orders-list td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
}

.orders-list th {
    background-color: var(--color-main);
    color: var(--white);
}

.orders-list .status {
    padding: 5px 10px;
    border-radius: 5px;
    color: var(--white);
    font-size: 0.9rem;
}
.orders-list .status {
    padding: 5px 10px;
    border-radius: 5px;
    color: var(--white);
    background-color: #333333;
    font-size: 0.9rem;
}
.orders-list .btn-action {
    margin: 0 1px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 1rem;
}

.orders-list .status.completed {
    color: white;
    background-color: green;
}

.orders-list .btn-check {
    background-color: green;
    color: var(--white);
    padding: 10px 12px;
}

.orders-list .status.pending {
    color: white;
    background-color: orange;
    padding: 5px 17px;
}

.orders-list .btn-pend {
    background-color: orange;
    color: var(--white);
    padding: 10px 17px;
}

.orders-list .status.cancelled {
    color: white;
    background-color: red;
}

.orders-list .btn-cancel {
    background-color: red;
    color: var(--white);
    padding: 10px 13px;
}
/* Responsive Design */
@media (max-width: 768px) {
    .orders-list{
        width: 100%;
    }
    .orders-list table, .orders-list thead, .orders-list tbody, .orders-list th, .orders-list td, .orders-list tr {
        display: block;
        width: 97%;
    }

    .orders-list thead tr {
        display: none;
    }

    .orders-list tr {
        margin-bottom: 15px;
        border: 1px solid #ddd;
        border-radius: 8px;
        padding: 10px;
        background-color: var(--white);
        box-shadow: var(--shadow);
    }

    .orders-list td {
        display: flex;
        justify-content: space-between;
        text-align: left;
        /*padding: 10px;*/
        border: none;
    }

    .orders-list td[data-label]::before {
        content: attr(data-label);
        font-weight: bold;
        color: var(--color-main);
        /*margin-right: 10px;*/
    }

    .orders-list td:last-child {
        margin-top: 10px;
    }


}
.filter-bar {
    margin-left: 60px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
}
.filter-bar select, .filter-bar label{
    margin-top: 20px;
}
.filter-bar .btn-submit1{
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    color: var(--white);
    background-color: var(--main-accent);
    border: none;
    border-radius: 20px;
    font-size: 1rem;
    text-align: center;
    text-decoration: none;
    box-shadow: var(--shadow);
    transition: background-color 0.3s ease;
}

.filter-bar select {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid rgb(0, 0, 0);
    font-size: 1rem;
}

