
/*body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f8f8f8;
}
*/
.products{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    width: 95%;
    margin: auto;
}
.product-card {
    width: 23%;
    text-align: center;
    background: rgba(0, 0, 0, 0.1);

    margin: 9px;
    border-radius: 10px;
    /*box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);*/
    transition: transform 0.3s ease;
    cursor: pointer;
    position: relative;
}

.product-card img {
    width: 100%;
    border-radius: 5px;
}

.product-title {
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: text-decoration 1s ease;
}
.product-title span{
    position: absolute;
    right: 20px;
    transition: transform 0.6s ease-in-out;
}
.product-title {
    display: inline-block;
    border-bottom: 2px solid transparent;
    transition: border-bottom 1.4s ease;
}

.product-card:hover .product-title {
    border-bottom: 2px solid currentColor;
}
.product-card:hover .product-title span{

    transform: rotate(90deg);
}
/*
.product-title span {
    margin-left: 5px;

    transition: opacity 0.3s ease;
}

.product-card:hover .product-title {
    text-decoration: underline;
}

.product-card:hover .product-title span {
    rotate: 45deg;
}
*/
