
/*body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f8f8f8;
}
*/

.products{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    width: 95%;
    margin: auto;
}
.product-card {
    flex: 1 1 calc(25% - 20px);

    text-align: center;
    background: rgba(0, 0, 0, 0.1);
    max-width: calc(25% - 20px);
    margin: 10px;
    border-radius: 10px;
    /*box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);*/
    box-sizing: border-box;

    transition: transform 0.3s ease;
    cursor: pointer;
    position: relative;
}

.product-card img {
    width: 100%;
    border-radius: 5px;
    height: auto;
}


.product-title {

    margin: 15px 0;
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: text-decoration 1s ease;
}


.product-title span{
    position: absolute;
    right: 20px;
    transition: transform 0.6s ease-in-out;
}

.product-title {
    display: inline-block;
    border-bottom: 2px solid transparent;
    transition: border-bottom 1.4s ease;
}

.product-card:hover .product-title {
    border-bottom: 2px solid currentColor;
}


.product-card:hover .product-title span{

    transform: rotate(90deg);
}


/*
.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
    padding: 10px;
    width: 100%;
    margin: auto;
}

.product-card {
    flex: 1 1 calc(25% - 20px);
    box-sizing: border-box;
    text-align: center;
    background: rgba(0, 0, 0, 0.1);
    margin: 10px;
    border-radius: 10px;
    transition: transform 0.3s ease;
    cursor: pointer;
    position: relative;
    max-width: calc(25% - 20px);
}

.product-card img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.product-title {
    margin: 15px 0;
    font-size: 15px;
    font-weight: bold;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.3s ease;
}

.product-title span {
    position: absolute;
    right: 20px;
    transition: transform 0.3s ease;
}

.product-card:hover .product-title {
    border-bottom: 2px solid currentColor;
    width: 70%;
    justify-content: center;
    align-items: center;
}

.product-card:hover .product-title span {
    transform: rotate(90deg);
}

*/

/************************************************/
/* Tablets */
@media (max-width: 992px) {
    .product-card {
        flex: 1 1 calc(33.33% - 20px);
        max-width: calc(33.33% - 20px);
    }
    .product-title{
        font-size: 18px;
    }
}
@media (max-width: 868px) {
    .product-title{
        font-size: 14px;
    }
}
/* Small tablets & large phones */
@media (max-width: 768px) {
    .product-card {
        flex: 1 1 calc(50% - 20px);
        max-width: calc(50% - 20px);
    }
    .product-title{
        font-size: 11px;
    }
}

/* Phones */
@media (max-width: 480px) {
    .product-card {
        flex: 1 1 100%;
        max-width: 100%;
    }


    .product-title span {
        right: 10px;
    }
}


/* Prevent body scroll when modal is open */
.modal {
    display: none; /* Hidden by default */
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-header {
    position: relative;
    margin: auto;
    padding: 2rem;
    max-width: 800px;

    background: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 40px;
    display: flex;
    align-items: center;
    overflow: hidden;

}

.image-section {
    flex: 0 0 375px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-section img {
    cursor: zoom-in;
    max-width: 315%;
    height: 412px;
    object-fit: cover;
    border-radius: 40px;
    padding: 1rem;
}

.modal-content {
    flex-grow: 1;
    padding: 2rem;
}

.title {
    font-size: 3.1rem;
    margin: 0;
    font-weight: bold;
}

.description {
    font-size: 1.5rem;
    color: #555;
    margin: 1.5rem 0;
}

.price {
    font-size: 1.2rem;
    color: #444;
    margin: 1.5rem 0;
}

.close-button {
    position: absolute;
    right: 2rem;
    top: 2rem;
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
    background: transparent;
    border: none;
    cursor: pointer;
}

.add {
    padding: 0.75rem 1.5rem;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    margin-right: 1rem;
    width: 100%;
    background: black;
    color: white;
}

.add:hover {
    background: #333;
}

body.modal-open {
    overflow: hidden;
}
